parameters:
	level: 6
	paths:
		- src
		- tests
	fileExtensions:
		- php
	excludes_analyse:
		- %currentWorkingDirectory%/tests/suits/FilterTest.php

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/jangregor/phpstan-prophecy/src/extension.neon
